{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>DIVYANGJAN | Mental Disability</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

    {% include 'header.html' %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Mental Disability</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Mental Disability</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page">
            <div class="container">
                <h2>Mental Disability</h2>
                <p>Under the ambit of intellectual disabilities, two types of disabilities are broadly classified-</p>
                <ul>
                    <li>
                        <strong>Mental behaviour</strong>
                    </li>
                    <li>
                        <strong>Mental Illness</strong> - A substantial disorder of thinking, mood, perception,
                        orientation or memory that grossly impairs judgement, behaviour, capacity to recognise reality
                        or ability to meet the ordinary demands of life, but does not include retardation which is a
                        condition of arrested or incomplete development of mind of a person, specially characterised by
                        subnormality of intelligence.
                    </li>
                    <li>
                        <strong>Multiple sclerosis</strong> - A disease in which the immune system eats away the
                        protective covering of nerves leading to damage to the protective covering (myelin sheath) that
                        surrounds nerve fibres in the brain and affecting the ability of nerve cells in the brain and
                        spinal cord to communicate with each other.
                    </li>
                    <li>
                        <strong>Parkinson's disease</strong> - A long term disorder of the nervous system marked by
                        tremor, muscular rigidity and slow imprecise movement, chiefly affecting middle-aged and elderly
                        people. Its symptoms are associated with degeneration of the nerve cells in deep parts of the
                        brain called the basal ganglia of the brain and low or falling levels of dopamine, a
                        neurotransmitter.
                    </li>
                </ul>

            </div>
        </section>

    </main><!-- End #main -->

    {% include 'footer.html' %}

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>