{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DIVYANGJAN | Physical Disability</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  {% include 'header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Physical Disability</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Physical Disability</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <h4><a href="/#about"><i class="bi bi-box-arrow-left"></i> Go Back </a></h4>
        <br><br>
        <h1>Types of Disabilities</h1>
        <h2>Physical Disability</h2>
        <p>
          Under the overall ambit of Physical Disability, three types of disabilities
          are broadly classified:
        </p>
        <ul>
          <li>
            <strong>Locomotor Disabilities:</strong> Locomotor Disability is the
            disability of the bones, joints or muscles leading to substantial
            restriction of the movement of the limbs or a usual form of cerebral
            palsy. Different types of locomotor disabilities are classified as the
            following-
            <ul>
              <li>
                Leprosy cured person- Any person who has been cured of leprosy but is
                suffering from- loss of sensation in hands or feet as well as loss of
                sensation and partial paralysis in the eyelid but with no visible
                deformity; visible deformity and partial paralysis but having
                sufficient mobility in their hands and feet to enable them to engage
                in normal economic activity; extreme physical deformity as well as
                advanced age which prevents the person from undertaking any gainful
                occupation.
              </li>
              <li>
                Cerebral palsy - A group of non-progressive conditions characterised
                by abnormal motor control posture resulting from brain insult or
                injuries occurring in the perinatal, neonatal or infant period of
                development.
              </li>
              <li>
                Dwarfism - Medical or genetic condition resulting in an adult height
                of 4 feet 10 inches (147 centimetres) or less.
              </li>
              <li>
                Muscular dystrophy- A group of hereditary genetic muscle diseases
                that weakens the muscles that move the human body. A person with
                multiple dystrophy has incorrect and missing information in their
                genes, which prevents them from making the proteins they need for
                healthy muscles. Dystrophy is a disorder in which an organ or tissue
                of the body wastes away.
              </li>
              <li>
                Acid attack victims- A person disfigured due to violent assaults by
                throwing of acid or similar corrosive substance.
              </li>
            </ul>
          </li>
          <li>
            <strong>Visual Impairment:</strong> Visual Impairment can be further
            classified as the following-
            <ul>
              <li>
                Blindness - A condition where a person suffers from any of the
                following conditions namely: Total absence of sight; or Visual acuity
                not exceeding 6/60 or 20/200 (Snellen) in the better eye with
                correcting lenses; or Limitation of the field vision subtending an
                angle of 20 degrees or worse.
              </li>
              <li>
                Low-vision - A person with impairment of visual functioning even after
                treatment or standard refractive correction but who uses or is
                potentially capable of using vision for the planning or execution of a
                task with appropriate assistive devices.
              </li>
            </ul>
          </li>
          <li>
            <strong>Hearing Impairment</strong>
            <ul>
              <li>Deaf - Persons having 70 DB hearing loss in speech frequencies in both ears.</li>

              <li>Hard of hearing - Loss of sixty decibels or more in the better ear in the conversational range of
                frequencies.</li>
              <li>
                Speech and Language Disability - A permanent disability arising out of conditions such as laryngectomy
                (Laryngectomy is the removal of part or all of the larynx (voice box) or aphasia (A language disorder
                caused by damage in a specific
                area of the brain that affects a person's ability to communicate) affecting one or more components of
                speech
                and language due to organic or neurological causes).
              </li>
            </ul>
          </li>
        </ul>
        <br>
        <br>
        <h4><a href="/intellectualDisability" class="d-flex justify-content-center">Next &nbsp;<i
              class="bi bi-box-arrow-right"></i> </a></h4>
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>