<!-- ======= Footer ======= -->
<footer id="footer">

  <!-- <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>DIVYANGJAN</h3>
            <p>
              16B, Bada Bazar Rd<br>
              Old Rajinder Nagar<br>
              Delhi, 110060 <br><br>
              <strong>Phone:</strong> +91 011-43187878<br>
              <strong>Email:</strong> contactus@thenationaltrust.in<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Disability Type</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#findScheme">Find Your Scheme</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#faq">Frequently Asked Questions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div> -->

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>DIVYANGJAN</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/thisisankitsrivastava" target="_blank">Ankit
          Srivastava</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/NationalTrust99" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/thenationaltrust?ref=hl" class="facebook" target="_blank"><i
          class="bx bxl-facebook"></i></a>
      <a href="https://www.youtube.com/channel/UCMUW6w6g-sFBVdgb2Rrj0Hw" class="youtube" target="_blank"><i
          class="bx bxl-youtube"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>