<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a
                href="mailto:contactus@thenationaltrust.in">contactus@thenationaltrust.in</a>
            <i class="bi bi-phone"></i> 011-43187878
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="https://twitter.com/NationalTrust99" class="twitter" target="_blank"><i
                    class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/thenationaltrust?ref=hl" class="facebook" target="_blank"><i
                    class="bi bi-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCMUW6w6g-sFBVdgb2Rrj0Hw" class="youtube" target="_blank"><i
                    class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="/">DIVYANGJAN</a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="/#about">Disability Type</a></li>
                <li><a class="nav-link scrollto" href="/#findScheme">Find Your Scheme</a></li>
                <li><a class="nav-link scrollto" href="/#faq">FAQs</a></li>
                <li><a class="nav-link scrollto" href="/#contact">Contact Us</a></li>
                <!-- <ul>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a href="#">Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                </ul> -->
                <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="/#findScheme" class="appointment-btn scrollto"><span class="d-none d-md-inline">Find Eligible</span>
            Schemes</a>

    </div>
</header><!-- End Header -->