{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DIVYANGJAN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  {% include 'header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to DIVYANGJAN</h1>
      <h2>A quick way to filter all eligible government schemes for you.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose DIVYANGJAN?</h3>
              <p>
                This is a powerful resource that can help individuals with disabilities quickly and easily navigate
                government assistance programs. By using advanced filtering capabilities, the
                tool can identify all the relevant schemes that may be available to someone with a particular type of
                disability, saving time.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Benifits</h4>
                    <p>This can be especially helpful for those who may not know where to begin when
                      looking for assistance.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Additional Benifits</h4>
                    <p> With this tool, people with
                      disabilities can gain greater access to the
                      resources and support they need to thrive.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Ad-ons</h4>
                    <p>Helpful for those who may not have access to traditional support systems.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Defining "Person with Disability" under the 2016 Act</h3>
            <p>The Rights of Persons with Disabilities Act, 2016, defines the term Person with Disability as “a person
              with long term physical, mental, intellectual or sensory impairment which, in interaction with barriers,
              hinders his full and effective participation in society equally with others.”</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-accessibility"></i></div>
              <h4 class="title"><a href="/physicalDisability">Physical Disability</a></h4>
              <p class="description">Locomotor Disabilities, Visual Impairment, Hearing Impairment.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-abacus"></i></div>
              <h4 class="title"><a href="/intellectualDisability">Intellectual Disability</a></h4>
              <p class="description">Specific Learning Disabilities, Autism Spectrum Disorder.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-brain"></i></div>
              <h4 class="title"><a href="mentalDisability">Mental behaviour</a></h4>
              <p class="description">Mental Illness- A substantial disorder of thinking, mood, perception, orientation
                or memory.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-donate-blood"></i></div>
              <h4 class="title"><a href="bloodDisorder">Blood Disorder</a></h4>
              <p class="description">Haemophilia, Thalassemia, Sickle cell disease.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Page Visits</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Filteration Count</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Happy Reviews</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Shares</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Find Scheme Section ======= -->
    <section id="findScheme" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Find Your Scheme</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <form action="/filterScheme" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="number" name="age" class="form-control" id="age" placeholder="Your Age" required>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <select name="state" id="state" class="form-select">
                <option value="">Select State</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="disabilityType" id="siabilityType" class="form-select">
                <option value="">Disability Type</option>
                <option value="Locomotor Disability">Locomotor Disability</option>
                <option value="Intellectual Disability">Intellectual Disability</option>
                <option value="Blindness">Blindness</option>
                <option value="Muscular Dystrophy">Muscular Dystrophy</option>
                <option value="Hearing Impairment">Hearing Impairment</option>
                <option value="Leprosy cured">Leprosy cured</option>
                <option value="Cerebral Palsy">Cerebral Palsy</option>
                <option value="Autism Spectrum Disorder">Autism Spectrum Disorder</option>
                <option value="Mental Illness">Mental Illness</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="benefitCriteria" id="benefitCriteria" class="form-select">
                <option value="">Select Benefit Criteria</option>
                <option value="Special Benefit">Special Benefit</option>
                <option value="40% Disability">40% Disability</option>
                <option value="60% Disability">60% Disability</option>
                <option value="Muscular Dystrophy">Muscular Dystrophy</option>
                <option value="Hearing Impairment">Hearing Impairment</option>
                <option value="Leprosy cured">Leprosy cured</option>
                <option value="Cerebral Palsy">Cerebral Palsy</option>
                <option value="Autism Spectrum Disorder">Autism Spectrum Disorder</option>
                <option value="Mental Illness">Mental Illness</option>
              </select>
            </div>
          </div>
          <br><br>

          <div class="row">
            <div class="text-center"><button type="submit">Start Filtering</button></div>
          </div>
        </form>

      </div>
    </section><!-- End Find Scheme Section -->





    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p></p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">What is a Disability Certificate? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Disability Certificate or Handicap Certificate (as it may alternatively be called) is a document that
                  certifies the type and degree of disability that has affected the person.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">What is the process to avail a Disability Certificate? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                <ul>
                  <li>Stepwise process of obtaining a disability certificate is as follows-
                    <br>
                    <ol>
                      <li>The disabled person must visit a Medical Hospital for the specific disability
                        <!-- <a href="https://docs.google.com/document/d/1qquaTFyppBYAx99zsp8RaS4sNyW5a0i0ccp2NlkEAjs/edit#heading=h.cvuedgdlcltb"
                          target="_blank" rel="noreferrer nofollow">Chapter 10.2</a> -->
                      </li>
                      <li>The doctor will prescribe tests depending on disability.</li>
                      <li>Duly filled form as attached in
                        <!-- <a href="https://drive.google.com/file/d/1htOJA7ZhMhXiBPcFOcvUcqfKbxxjiTG_/view?usp=sharing"
                          target="_blank" rel="noreferrer nofollow">Annexure 1</a>  -->
                        along with documents and test reports
                        need to be submitted to the concerned Doctor in the Medical Hospital.
                      </li>
                      <li>A committee of doctors will consider the case and examine the person.</li>
                      <li>If approved, the person is asked to collect the certificate at a later date.</li>
                    </ol>
                  </li>
                </ul>
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">What are the documents required to be submitted by a disabled person to obtain a
                Disability Certificate? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                <ol>
                  <li>Two recent coloured personal photos of the person with disability</li>
                  <li>Copy of the I.D. proof (Aadhar Card is best)</li>
                  <li>Copy of the address proof (Aadhar Card is best)</li>
                  <li>Copies of available medical reports</li>
                  <li>Copy of the previous Disability Certificate (in case it is being renewed)</li>
                </ol>
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed">How long is the disability certificate valid for? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  For children below the age of 18, the validity is for 5 years, whereas for those over 18, the validity
                  is lifelong.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">What is the process to avail a Unique Disability ID (UDID) ? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <ol>
                  <li>Persons with disability to use
                    <!-- <a href="https://www.swavlambancard.gov.in/" target="_blank"
                      rel="noreferrer nofollow">Link</a> website or register with the UDID web portal on<a
                      href="https://www.swavlambancard.gov.in/pwd/application" target="_blank"
                      rel="noreferrer nofollow">Link</a> -->
                    .
                  </li>
                  <li>Using Enrolment Number / UDID Number and Date of Birth, log into the system and click “Apply
                    online for Disability Certificate”. Read instructions and fill out the online application.</li>
                  <li>To apply offline, fill out the form as placed in
                    <!-- <a
                      href="https://drive.google.com/file/d/1iMAoPOoVFlZRl2tbT0vYe8kH9VXGfjy0/view?usp=sharing"
                      target="_blank" rel="noreferrer nofollow">Annexure 2</a> It can also be downloaded from <a
                      href="https://www.swavlambancard.gov.in/" target="_blank" rel="noreferrer nofollow">Link</a> -->
                    .
                    After filling the application form with personal details, address details, disability details,
                    employment details and identity details, it should be submitted at the District Disability
                    Rehabilitation Centres (DDRC) along with the required documents as mentioned in point 5 below.
                  </li>
                </ol>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6"
                class="collapsed">Is it mandatory to get a UDID? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  UDID certificate is not mandatory for availing any direct benefits for PwDs whereas Disability
                  Certificate is.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7"
                class="collapsed">What are the documents required to be submitted by a disabled person to obtain a
                UDID?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                <ol>
                  <li>Scanned copy of recent colour photo.</li>
                  <li>Scanned image of signature (Optional)</li>
                  <li>Scanned copy of Address Proof (Aadhar/Driving Licence/State Domicile etc.)</li>
                  <li>Scanned copy of Identity Proof (Aadhar Card/PAN Card/Driving Licence etc.)</li>
                  <li>Scanned copy of Disability Certificate (Only for those Persons with Disability who have been
                    issued Disability Certificates by the respective Medical boards constituted at a State or District
                    level. Disability wise list of medical authorities is placed in
                    <!-- <a
                      href="https://docs.google.com/document/d/1qquaTFyppBYAx99zsp8RaS4sNyW5a0i0ccp2NlkEAjs/edit#heading=h.cvuedgdlcltb"
                      target="_blank" rel="noreferrer nofollow">Chapter 10.2.</a> -->
                    )
                  </li>
                </ol>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8"
                class="collapsed">Why is the Government encouraging Disabled Persons to get the UDID card? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The UDID Card will help in streamlining the tracking of the physical and financial progress of
                  beneficiaries at all levels of hierarchy of implementation from village level, block level, district
                  level, state level right upto the national level.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9"
                class="collapsed">Why is it useful for a disabled person to get a UDID?<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                <ul>
                  <li>
                    The UDID card shall bring a host of benefits to the Persons with Disabilities as given below:
                    <ol>
                      <li>Persons with disabilities will not need to make multiple copies of documents, maintain, and
                        carry multiple documents as the card will capture all the necessary details which can be decoded
                        with the help of a reader.</li>
                      <li>The UDID card will be the single document of identification, and verification of the disabled
                        for availing various benefits in the future.</li>
                    </ol>
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d736.1188186121417!2d77.18621456379748!3d28.64201940951936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02a323154c81%3A0xe3d888ef0696ba31!2sThe%20National%20Trust!5e0!3m2!1sen!2sin!4v1681308237968!5m2!1sen!2sin"
          frameborder="0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>16B, Bada Bazar Rd, Old Rajinder Nagar, Rajinder Nagar, Delhi, 110060</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>contactus@thenationaltrust.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 011-43187878</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/contactSend" method="POST" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                {% for message in messages %}
                <div class="error-message">{{message}}</div>
                {% endfor %}
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>

            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>
  <!-- End #main -->

  {% include 'footer.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>